/* =======================
   Reset básico
   ======================= */
   * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 
 /* =======================
    Estilos gerais para o body
    ======================= */
 body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
	padding: 20px;
	scroll-behavior: smooth;
 }
 
 :not(a, button, img, svg, .card) {
	cursor: default;
 }
 
 /* =======================
    Estilos para o logo no header
    ======================= */
 header nav .logo {
	font-weight: bold;
 }
 
 /* =======================
    Estilos para logo e itens de menu
    ======================= */
 header nav .logo, header nav ul li {
	color: #0D2848;
	cursor: pointer;
 }
 
 /* =======================
    Estilos para o título principal
    ======================= */
 div h1 {
	font-size: 7.5rem;
	margin-top: 7.5rem;
	color: #000;
 }
 
 /* =======================
    Estilo de gradiente no título
    ======================= */
 h1 .gradiente {
	background: linear-gradient(to right, #F0FE0A, #2AE6D3);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
 }
 
 /* =======================
    Estilos para os cartões
    ======================= */
 .cartao {
	max-width: 20.12rem;
 }
 
 /* =======================
    Estilos para a seção "agua"
    ======================= */
 .agua {
	margin-top: 9.375rem;
 }
 
 /* =======================
    Estilos para o título na seção "agua"
    ======================= */
 .grupo-titulo-texto {
	display: flex;
	width: 100%;
 }
 
 /* =======================
    Estilos para o subtítulo na seção "agua"
    ======================= */
 .agua h3 {
	font-size: 5.125rem;
	color: #000;
	margin-top: 4.68rem;
	z-index: 1;
	margin-right: -10rem;
	width: 50%;
 }
 
 /* =======================
    Estilo para a decoração na seção "agua"
    ======================= */
 .agua .decoracao {
	position: absolute;
	z-index: 0;
	margin-top: 15.18rem;
 }
 
 /* =======================
    Estilo do fundo quadrado na seção "agua"
    ======================= */
 .agua .quadrado-fundo {
	width: 100%;
	height: 34.25rem;
	background-color: rgba(15, 45, 82, 0.1);
	z-index: 0;
 }
 
 /* =======================
    Estilos para os parágrafos na seção "agua"
    ======================= */
 .agua .paragrafo {
	margin-top: 6.125rem;
	margin-left: 15.74rem;
 }
 
 /* =======================
    Estilos para o texto do parágrafo na seção "agua"
    ======================= */
 .agua .paragrafo p {
	color: rgba(0, 0, 0, 0.7);
	line-height: 2.2em;
	font-size: 1.18rem;
 }
 
 /* =======================
    Estilos para as imagens na seção "agua"
    ======================= */
 .agua .imagens {
	display: flex;
 }
 
 /* =======================
    Estilos para a imagem da criança
    ======================= */
 .agua .img-crianca {
	width: 22rem;
	height: 23rem;
 }
 
 /* =======================
    Estilos para a imagem da garrafa
    ======================= */
 .agua .img-garrafa {
	width: 23rem;
	height: 23rem;
	margin-top: 23rem;
 }
 
 /* =======================
    Estilos para a imagem de enchendo a garrafa
    ======================= */
 .agua .img-enchendo {
	z-index: 1;
	width: 27rem;
	height: 29rem;
	margin-top: -6rem;
 }
 
 /* =======================
    Estilos para os botões flutuantes
    ======================= */
 .botoes {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 1000;
	cursor: pointer;
 }
 
 .alertas{
	margin-top: 9.375rem;
	width: 100%;

 }

#alertas h2 {
	/* padding-left: 15rem; */
	/* padding-right: 15rem; */
	font-size: 5.125rem;
	color: #000;
	margin-top: 4.68rem;
	z-index: 1;
	/* width: 50%; */
}


 /* #alertas article {
	padding-left: 15rem;
	padding-right: 15rem;
 } */
 
 #alertas article p{
	font-size: 18px;
 }

 #alertas .indice{
	margin-left: 5rem;
	position: -webkit-sticky;  /* Para navegadores com suporte a Webkit */
	position: sticky;
	top: 20px; /* Distância do topo da tela */
	padding-top: 10px;
	max-height: calc(100vh - 30px);  /* Garante que o índice não ultrapasse a tela */
	overflow-y: auto; /* Habilita a rolagem dentro do índice, caso o conteúdo seja maior que a altura disponível */
	background-color: #f8f9fa; /* Cor de fundo para destacar o índice */
	border: 1px solid #ddd; /* Adiciona uma borda leve ao redor */
	padding: 15px;
	border-radius: 8px;
	height: 50%;
 } 
 /* Personaliza o estilo das ligações no índice */
 .indice a {
	text-decoration: none;
	color: #007bff;
 }
 
 .indice a:hover {
	text-decoration: underline;
 }

 #alertas .indice h3 {
font-weight:  bold;

 }

