/* =======================
   Reset Básico de CSS
   ======================= */
   *,
   *::before,
   *::after {
	  margin: 0;  
	  padding: 0; 
	  box-sizing: border-box; 
   }
   
   /* =======================
	 Estilos Gerais para html e body
	 ======================= */
   html, body {
	  font-family: Arial, sans-serif; 
	  margin: 0; 
	  padding: 0; 
	  width: 100%; 
   }
   
   
   body {
	  background-color: #f8f9fa; 
   }
   
   /* =======================
	 Estilos para o Popup
	 ======================= */
   #popup {
	  max-width: 750px; 
	  padding: 20px 30px 30px 30px;
	  width: 100%;
   }
   
   /* Estilos para a seção de cartões dentro do popup */
   #popup .cartoes {
	  max-width: 750px; 
	  width: 100%; 
	  padding: 0; 
	  margin-top: 30px;
   }
   
   /* Estilos para os parágrafos dentro dos cards */
   #popup .row .card p {
	  font-size: 0.8rem; 
   }
   
   /* =======================
	 Estilos para Títulos
	 ======================= */
   .titulo {
	  font-size: 3rem; 
   }
   
   .subtitulo {
	  font-size: 1.5rem;
   }
   
   /* =======================
	 Estilos para o Timer (Contador)
	 ======================= */
   #timer-box {
	  margin: auto; 
   }
   
   #timer-display {
	  font-size: 4rem; 
	  background: linear-gradient(to right, rgba(0, 128, 255, 1), rgba(0, 255, 128, 1)); 
	  color: white; 
	  padding: 15px; 
	  border-radius: 8px; 
   }
   
   /* =======================
	 Estilos para Barra de Progresso
	 ======================= */
   .progress {
	  height: 30px; 
	  margin: 15px 0; 
   }
   
   .progress-bar {
	  transition: width 0.4s ease; 
	  height: 100%; 
	  border-radius: 8px;
   }
   
   /* =======================
	 Estilos para Imagem
	 ======================= */
   img.img-fluid {
	  display: block; 
	  margin-left: auto;
	  margin-right: auto;
	  width: 300px; 
	  margin-bottom: 25px;
   }
   